<!DOCTYPE html>
<head>
    <title>HEADLINES</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Headlines</h1>
    <h2>Current weather</h2>
    <form>
        <input type="text" name="city" placeholder="weather search">
        <input type="submit" value="Submit">
    </form>
    <p>City: <b>{{weather.city}}</b></p>
    <p>{{weather.description}} |{{weather.temperature}}℃</p>
    <h2>Headlines</h2>
    <h3>Avalaible Titles: More coming soon!</h3>
    <hr>
    {% for key,value in publication.items() %}
        <p id="element">{{key}}</p>
    {% endfor %}
    <form>
        <input type="text" name="publication" placeholder="search">
        <input type="submit" value="Submit"/>
    </form>
    <br />
    {% for article in articles %}
        <div class="container">
            <div class="box box1">
                <a href="{{article.link}} ">{{article.title}}</a>
                <br />
            </div>
            <div class="box box2">
                <i>{{article.published}}</i>
                <br />
            </div>
            <div class="box box3">
                <p>{{article.summary}}</p>
                <hr/>
            </div>
        </div>
    {% endfor %}
</body>
</html>